@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Doodle+Shadow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family:'Rubik Doodle Shadow','Roboto' ,sans-serif;
    /* font-family: 'Roboto'; */
    background: #000;
    color:white

}

/* Example styles - adjust as needed */
.windowO {
    animation: windowOpen ease-in-out 300ms forwards;
}

.windowC {
    animation: windowClose ease-in-out 300ms forwards;
}

/* Example styles - adjust as needed */
.windowO,
.windowC {
    z-index: 10;
}

@keyframes windowOpen {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes windowClose {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
